.titulo-principal{
    font-size: 35px;
    font-style: oblique;
    text-align: left;
}

.esquerda{
    width: 10%;
    height: 10%;
}

.direita{
    width: 10%;
    height: 10%;
}

p {
    margin: 20px;
    padding: 20px;
}